name: ci
on:
  push:
    branches:
      - master
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: actions/configure-pages@v4
      - run: pip install mkdocs-material
      - run: mkdocs build --site-dir site
        working-directory: ./nsf-approx
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./nsf-approx/site
      - uses: actions/deploy-pages@v4
        id: deployment

